CoIDE.*
unins000.*
artifacts.xml
coide_project.ico
version.xml
error.txt
info.txt
project.history
*.out
/CoIDEHelpFileDir
/Library
/config
/config/devices
/data
/data/*.svd
/flash
/jre
/kindeditor*
/p2
/plugins
/workspace
/logs
/bin/*
!/bin/ICoodat.dll
!/bin/global.xml
/configuration/*
!/configuration/config.ini
/repo/.rn/*
/repo/Boards/*
/repo/Components/*
/repo/Components/*/doxygen
/repo/Drivers/*
/repo/Examples/*
/repo/Others/*
!/repo/Components/2128_CMSIS_Core
!/repo/Components/2129_Startup

