CoIDE.*
unins000.*
artifacts.xml
coide_project.ico
version.xml
error.txt
info.txt
project.history
*.out
/CoIDEHelpFileDir
/Library
/config
/config/devices
/data
/data/*.svd
/flash/*.a
/flash/*.elf
/flash/source/*
!/flash/SAMD21_256.elf
!/flash/source/SAMD21G18
/jre
/kindeditor*
/p2
/plugins
/workspace
/logs
/bin/*
!/bin/ICoodat.dll
/configuration/*
!/configuration/config.ini
/repo/.rn/*
/repo/Boards/*
/repo/Components/*
/repo/Components/*/doxygen
/repo/Drivers/*
/repo/Examples/*
!/repo/Examples/2043_DW1000_Test
!/repo/Examples/2044_ex_01a_simple_tx
!/repo/Examples/2045_ex_02a_simple_rx
/repo/Others/*
!/repo/Components/2128_CMSIS_Core
!/repo/Components/2129_Startup
!/repo/Components/2130_Arduino_Core
!/repo/Components/2131_DW1000
!/repo/Components/2132_SysCalls
!/repo/Components/2133_SPI_Master

