CoIDEHelpFileDir
Library
CoIDE.*
config
data
flash
jre
kindeditor*
p2
plugins
unins000.*
artifacts.xml
coide_project.ico
version.xml
/bin/*
!/bin/ICoodat.dll
!/bin/global.xml
/configuration/*
!/configuration/config.ini
/repo/.rn/*
/repo/Boards/*
/repo/Components/*
/repo/Drivers/*
/repo/Examples/*
/repo/Others/*

